{% extends 'main/base.html' %}

{% block content %}
<h2>Отзывы</h2>

{% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>
                <strong>{{ review.user }}</strong>: {{ review.text }} <br>
                Оценка: {{ review.rating }} <br>
                {{ review.created_at|date:"d.m.Y H:i" }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Отзывов пока нет.</p>
{% endif %}

<a href="{% url 'reviews:add_review' %}">Добавить отзыв</a>
{% endblock %}
